﻿@model DjSite.Models.Musica

@{
    ViewBag.Title = "ArmarLista";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div id="layout" class="full">
    <!-- popup login -->
    <div id="popupLogin">
        <div class="def-block widget">
            <h4> Login </h4><span class="liner"></span>
            <div class="widget-content row-fluid">
                <form id="popup_login_form">
                    <input type="text" name="login_username" id="login_username" onfocus="if (this.value=='username') this.value = '';" onblur="if (this.value=='') this.value = 'Usuario';" value="Usuario" placeholder="Usuario">
                    <input type="password" name="login_password" id="login_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="Password">
                    <a href="#" class="tbutton small" id="IngresarLogin"><span>Iniciar Sesión</span></a>
                    <a href="#" class="tbutton color2 small"><span>Registrarse</span></a>
                </form><!-- login form -->
            </div><!-- content -->
        </div><!-- widget -->
        <div id="popupLoginClose">x</div>
    </div><!-- popup login -->
    <div id="LoginBackgroundPopup"></div>
    <!-- popup login -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#IngresarLogin').click(function (e) {
                e.preventDefault(); //Para que no se vaya al link
                jQuery.ajax({
                    url: '@Url.Content("~/Home/checkLogin")',
                    type: 'POST',
                    data: { usuario: jQuery('#login_username').val(), password: jQuery('#login_password').val() }
                }).done(function (json) {
                });
            });
        });


    </script>
    <header id="header" class="glue">
        <div class="row clearfix">
            <div class="little-head">
                <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Iniciar Sesión</span></div>

                <div class="social social-head">
                    <a href="https://twitter.com/diversiondj" class="bottomtip" title="Sigueme en Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="https://www.facebook.com/Diversion-Dj-81993277783/" class="bottomtip" title="Like Facebook" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="https://plus.google.com/" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                    <a href="https://www.instagram.com/diversiondj/" class="bottomtip" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="https://soundcloud.com/diversiondj" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                    <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                </div><!-- end social -->

                <div class="search">
                    <form action="search.html" id="search" method="get">
                        <input id="inputhead" name="search" type="text" onfocus="if (this.value == 'Empezar a buscar...') this.value = '';" onblur="    if (this.value == '') this.value = 'Empezar a buscar...';" value="Empezar a buscar..." placeholder="Empezar a buscar...">
                        <button type="submit"><i class="icon-search"></i></button>
                    </form><!-- end form -->
                </div><!-- search -->
            </div><!-- little head -->
        </div><!-- row -->

        <div class="headdown">
            <div class="row clearfix">
                <div class="logo bottomtip" title="Diversion Dj">
                    <a href="#"><img src="@Url.Content("~/Content/MyTemplate/")images/logo.png" alt="DiversionDj"></a>
                </div><!-- end logo -->

                <nav>
                    <ul class="sf-menu">
                        <li class="current selectedLava">
                            <a href="Index">Home<span class="sub">Comienza aquí</span></a>
                            <ul>
                                <li><a href="index_revolution.html">Noticias</a></li>
                                <li><a href="events.html">Eventos</a></li>
                                <li><a href="index_modern.html">Acerca de mi</a></li>
                            </ul>
                        </li>

                        <li><a href="mp3s.html">Musica<span class="sub">Escuchame</span></a></li>
                        <li><a href="videos.html">Video<span class="sub">Algunos demos</span></a></li>
                        <li>
                            <a href="Home/Galeria">Galeria<span class="sub">Galeria de Fotos</span></a>
                            <ul>
                                <li><a href="Home/Galeria">Galeria</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Contacto<span class="sub">Arma tu Fiesta</span></a>
                            <ul>
                                <li><a href=@Url.Content("~/Home//Contacto")>Envia tu Consulta</a></li>
                                <li><a href="rtl.html">Crea tu lista</a></li>
                                <li><a href="mp3_single_wide.html">Foro</a></li>

                            </ul>
                        </li>
                    </ul><!-- end menu -->
                </nav><!-- end nav -->
            </div><!-- row -->
        </div><!-- headdown -->
    </header><!-- end header -->

    <div class="under_header">
        <img src="@Url.Content("~/Content/MyTemplate/")images/assets/breadcrumbs2.png" alt="#">
    </div><!-- under header -->

    <div class="page-content back_to_up">

        <div class="row forum clearfix mb">
            <div class="def-block">
                <h2>Buscador Musical<small> Ingresa Artista o Canción </small></h2>
                <div class="search-forum">
                    <form id="search-forum">
                        <input type="text" onfocus="if (this.value == 'Empieza a buscar...') {this.value = '';}" onblur="if (this.value == '')  {this.value = 'Empieza a buscar...';}" value="Empieza a buscar..." id="termino">
                        <button type="submit" id="enviarLista"> Guardar</button> 
                    </form>
                </div><!-- search forum -->
            </div><!-- block -->
        </div><!-- row -->

        <div class="row row-fluid forum clearfix mbf">
            <div class="span9 posts">
                <div class="def-block clearfix">
                    <div class="mbf clearfix">
                        <table class="table"id="resultados">
                            <thead> <tr> <th>#</th> <th>Artista</th> <th>Album</th> <th>Tema</th> </tr> </thead>
                            <tbody>                               
                            </tbody>
                        </table>
                    </div>                 
                    
                  

                </div><!-- def block -->
            </div><!-- span9 posts -->

            <div class="span3 sidebar">
                <div class="def-block widget">
                    <h4> Crea tu lista </h4><span class="liner"></span>
                    <div class="widget-content">
                        <p>Selecciona toda la música que te gustaria que suene en tu fiesta y luego clickea guardar, puedes actualizar la lista durante toda la semana</p>
                    </div><!-- widget content -->
                </div><!-- def block widget text -->
                <div class="def-block widget">
                    <h4> Ranking Musical </h4><span class="liner"></span>
                    <div class="widget-content clearfix">
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12172370310%3Aplaylist%3A5wqUEngWBQjeOI0szUzGRw" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </div><!-- widget content -->
                </div><!-- def block widget Login -->

               

            </div><!-- span3 sidebar -->
        </div><!-- row clearfix -->
    </div><!-- end page content -->
    <footer id="footer">
        <div class="footer-last">
            <div class="row clearfix">
                <span class="copyright">© 2016 by DiversionDj. All Rights Reserved.</span>
                <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
                <div class="foot-menu">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="mp3s.html">Música</a></li>
                        <li><a href="videos.html">Video</a></li>
                        <li><a href="Galeria">Galeria</a></li>
                        <li><a href="Contacto">Contacto</a></li>
                    </ul><!-- end links -->
                </div><!-- end foot menu -->
            </div><!-- row -->
        </div><!-- end last -->

    </footer><!-- end footer -->
</div>

<script type="text/javascript">
    var carrito = [];
    jQuery(function () {
        var options = {
            url: "https://itunes.apple.com/search?",
            getValue: "artistName",
            listLocation: "results",
            ajaxSettings: {
                dataType: "jsonp",
                method: "get",
                data: {
                    dataType: "json"
                }
            },
            preparePostData: function (data) {
                data.term = jQuery("#termino").val();
                data.entity = "musicArtist";
                return data;
            },
            list: {
                onHideListEvent: function () {
                    buscar(jQuery("#termino").val());
                }
            }
        };

        jQuery("#termino").easyAutocomplete(options);
        jQuery('#resultados').on('click', '.choice', function () {
            carrito.push(jQuery(this).val() + ';');
            jQuery.ajax({
                url: 'Home/Enviar',
                type: 'post',
                data: carrito
            })
        });
        function buscar(termino) {
            termino = termino.replace(" ", "+");
            console.log(termino);
            var urlBusca = 'https://itunes.apple.com/search?term=' + termino;
            jQuery.ajax({
                url: urlBusca,
                dataType: "jsonp"
            }).done(function (json) {
                var resultado = json.results;
                var html = '';
                jQuery.each(resultado, function (i, item) {
                    html += '<tr> <th scope="row"><input class="choice" type="checkbox" value="' + item.artistName + '|' + item.trackName + '"></th> <td>' + item.artistName + '</td> <td>' + item.collectionName + '</td> <td>' + item.trackName + '</td> </tr>';
                });
                jQuery('#resultados >tbody').html(html);
            });
        };

        jQuery('#enviarLista').click(function () {
            var lista = carrito.toString();
            jQuery.ajax({
                url: '@Url.Content("~/Home/Enviar")',
                type: 'POST',
                data: { Lista: lista }
            }).done(function (json) {

            });
        });
    });
</script>